@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

#hero {
  background-color: #151414;
  padding-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-center {
  padding-bottom: 30px;
  background-color: #151414;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 25px 20px;
  font-size: 17px;
  text-align: center;
  color: #a6a6a6;
  position: relative;
}

nav a:hover {
  color: white;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff0000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.hero-img {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.hero-img img {
  max-width: 100%;
  height: auto;
  /* border-bottom-left-radius: 100px; */
  border-radius: 40% 60% 19% 81% / 59% 46% 54% 41%;
  /* box-shadow: 5px 10px #ff0000; */
}

.bg-description {
  width: 100%;
  max-width: 400px;
  color: #a6a6a6;
}

.title-description p:first-of-type {
  font-size: 2rem;
}

.title-description :nth-of-type(2) {
  font-size: 3rem;
  color: white;
}

.title-description :nth-of-type(3) {
  font-size: 2rem;
  margin-bottom: 15px;
}

.quote-container {
  padding-left: 2px;
}

.quote-container p:first-of-type {
  color: beige;
}

.quote-from {
  text-align: right;
}

#story {
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-description {
  width: 100%;
  max-width: 600px;
  padding-right: 100px;
  text-align: justify;
  line-height: 1.8em;
}

.img-story {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.img-story img {
  width: 100%;
  height: auto;
}

.story-description span {
  font-size: 2rem;
}

.story-description p:first-of-type {
  margin-bottom: 10px;
}

.story-description :nth-of-type(3) {
  font-style: italic;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #950101;
  color: #fff;
}

.holder img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: 36%;
  /* top: 1%; */
  left: 49.4%;
  /* margin: 185px 0 0 -40px; */
  animation: spin 1.5s infinite;
}

.holder {
  height: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Preloading Itachi's Mangekyou */

/* global vars */
:root {
  --eye-size: 100px;
  --eye-backcolor: #ad0000;
  --eye-color: #000;
  --eye-shadow: #adadad59;
  --eye-boll-shadow: rgb(27, 27, 27);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  background-color: #000;
}

h2 {
  text-align: center;
  color: var(--eye-backcolor);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 100px;
}

.circle {
  border-radius: 50%;
}

.center {
  margin: 50%;
  transform: translate(-50%, -50%);
}

.eye {
  height: var(--eye-size);
  width: var(--eye-size);
  background-color: var(--eye-backcolor);
  border: 6px solid var(--eye-color);
  position: relative;
}

.eye-ball {
  height: 55%;
  width: 55%;
  position: relative;
}

.eye-ball > div:first-of-type {
  height: 100%;
  width: 100%;
  border: 4px solid var(--eye-color);
  opacity: 0.5;
  position: absolute;
}

.eye-ball > div:nth-of-type(2) {
  position: absolute;
  height: 45%;
  width: 45%;
  background-color: var(--eye-color);
  box-shadow: 0 0 21px 3px var(--eye-boll-shadow);
}

.sp {
  height: 50%;
  width: 50%;
  position: absolute;
  font-size: 65px;
}

.sp span {
  font-weight: bolder;
  position: absolute;
  display: block;
  top: -44px;
  color: var(--eye-color);
}

.eye-ball > div:nth-of-type(3) {
  top: -46%;
  left: 66%;
  transform: rotate(243deg);
}

.eye-ball > div:nth-of-type(4) {
  bottom: -46%;
  right: -20%;
  transform: rotate(-1deg);
}

.eye-ball > div:last-of-type {
  bottom: 18%;
  left: -60%;
  transform: rotate(112deg);
}

/* animation */

@keyframes animation1 {
  0% {
    transform: rotate(0deg);
  }

  70%,
  100% {
    transform: rotate(360deg);
  }
}

/*  animation from sharingan 1 to 2 */

/* replace   0%,20%,100%  */
/* with  0%,30%,80%,100% */

@keyframes an_div_first {
  0%,
  30%,
  80%,
  100% {
    /* sharingan 1 style */
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: var(--eye-backcolor);
  }
  40%,
  70% {
    /* sharingan 2 style */
    opacity: 1;
    background-color: var(--eye-color);
    width: 85%;
    height: 85%;
    margin: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes an_div_2 {
  0%,
  30%,
  80%,
  100% {
    /* sharingan 1 style */
    height: 45%;
    width: 45%;
    background-color: var(--eye-color);
    z-index: auto;
  }
  40%,
  70% {
    /* sharingan 2 style */
    width: 25%;
    height: 25%;
    background-color: var(--eye-backcolor);
    z-index: 777;
  }
}

@keyframes an_div_3 {
  0%,
  30%,
  80%,
  100% {
    /* sharingan 1 style */
    top: -46%;
    left: 66%;
    height: 50%;
    width: 50%;
    font-size: 65px;
  }
  40%,
  70% {
    /* sharingan 2 style */
    top: -15%;
    left: 12%;
    width: 100%;
    height: 100%;
    font-size: 165px;
  }
}

@keyframes an_div_4 {
  0%,
  30%,
  80%,
  100% {
    /* sharingan 1 style */
    bottom: -46%;
    right: -20%;
    height: 50%;
    width: 50%;
    font-size: 65px;
  }
  40%,
  70% {
    /* sharingan 2 style */
    bottom: -16%;
    right: -9%;
    width: 100%;
    height: 100%;
    font-size: 165px;
  }
}

@keyframes an_div_last {
  0%,
  30%,
  80%,
  100% {
    /* sharingan 1 style */
    bottom: 18%;
    left: -60%;
    height: 50%;
    width: 50%;
    font-size: 65px;
  }
  40%,
  70% {
    /* sharingan 2 style */
    bottom: 4%;
    left: -17%;
    width: 100%;
    height: 100%;
    font-size: 165px;
  }
}

/* apply animation */

.sharingan1to2 .eye-ball > div {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: 3s;
}

.sharingan1to2 {
  animation: animation1 5s ease-in-out infinite;
  animation-fill-mode: both;
}

.sharingan1to2 .eye-ball > div:first-of-type {
  animation-name: an_div_first;
}

.sharingan1to2 .eye-ball > div:nth-of-type(2) {
  animation-name: an_div_2;
}

.sharingan1to2 .eye-ball > div:nth-of-type(3) {
  animation-name: an_div_3;
}

.sharingan1to2 .eye-ball > div:nth-of-type(4) {
  animation-name: an_div_4;
}

.sharingan1to2 .eye-ball > div:last-of-type {
  animation-name: an_div_last;
}

/* last part */
.card {
  /* display: none; */
}

/* thank you for watching */

/* .box {
  overflow: hidden;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;

} */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
.hidden {
  display: none;
}

.eye-box {
  background-color: #fff;
  width: 220px;
  height: 130px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 40px;
  padding-top: 20px;
  border-radius: 100% 0% 54% 46% / 93% 1% 99% 7%;
  box-shadow: -4px 21px 1px 6px var(--eye-shadow) inset;

  animation: eye_animation 5s ease-in-out infinite;
  transition: height 0s ease-in-out, padding-top 0s ease-in-out;
}

.eye-box.eye {
  position: absolute;
  top: 5%;
  right: 10%;
}

.left-eye {
  transform: scaleX(-1);
}

/* eye animation */

@keyframes eye_animation {
  0%,
  36%,
  55%,
  100% {
    height: 130px;
    padding-top: 20px;
  }
  43%,
  47% {
    height: 0;
    padding-top: 0;
  }
}

/* loading the mangekyou in website */

/* For Responsive */
@media (max-width: 767px) {
  .holder img {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    top: 35.5%;

    left: 60.9%;

    animation: spin 1.5s infinite;
  }

  .bg-description {
    margin-right: 13px;
  }

  .story-container {
    flex-wrap: wrap-reverse;
  }
  .story-description {
    margin-top: 30px;
    padding-right: unset;
    padding: 15px;
  }
}

/* @media (max-width: 801px) {
  .holder img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 36.5%;

    left: 58.9%;

    animation: spin 1.5s infinite;
  }
  .bg-description {
    margin-right: 13px;
  }
  .story-description {
    padding-right: unset;
    padding: 15px;
  }
} */

@media only screen and (min-width: 768px) and (max-width: 1281px) {
  .holder img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 36.5%;

    left: 60.7%;

    animation: spin 1.5s infinite;
  }
  .bg-description {
    margin-right: 13px;
  }
  .story-description {
    padding-right: unset;
    padding: 15px;
  }
}
